*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Kotlin
.kotlin/

# Local Tooling & Cache
.claude/
.codeartsdoer/
.gemini/
*.log

# Dependencies
node_modules/
package-lock.json
package.json

# Build Artifacts
app/release/
app/build/
